{extends layout.latte}

{block title}Chat | Mistnosti{/block}              

{block meta}<script type="text/javascript" src="js/script.js"></script>{/block}

{block body}
    <div class="w3-container">
    <h1>Index</h1>

    </div>
{/block}